/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for background image */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/bg.jpeg'); /* Path to your background image */
    background-size: cover;  /* Cover the entire page */
    background-position: center; /* Center the background */
    background-attachment: fixed; /* Fix the background while scrolling */
    padding: 20px;
    color: #fff; /* White text color for contrast */
}

/* Container styling */
.container {
    max-width: 800px;
    margin: auto;
    background-color: rgba(199, 43, 43, 0.8); /* Light background for readability */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading and text styling */
h1, h2, h3 {
    color: #333;
    text-align: center;
}

.toy-info {
    margin-bottom: 20px;
}

.toy-info ul {
    list-style-type: none;
    padding: 0;
}

.toy-info li {
    margin: 8px 0;
    font-size: 18px;
}

.interaction {
    margin-top: 20px;
    text-align: center;
}

.interaction input {
    padding: 8px;
    font-size: 16px;
    width: 100px;
}

.interaction button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #e2ece5;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.interaction button:hover {
    background-color: #1d1e1d;
}

.car-image {
    text-align: center;
    margin-top: 20px;
}

.car-image img {
    max-width: 91%;
    height: auto;
}
